:root {
  --color-default: -webkit-linear-gradient(#000000, #280030);
  --color-body: #ffffff;
  --color-first: #c409b4;
  --color-second: #a71086;
  --color-black: #000000;
  --color-light: #e0e0e0;
}

/* All Body */
#home {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201009/pngtree-science-or-technology-background-with-dynamic-particles-trendy-colorful-design-template-image_406781.jpg);
  color: var(--color-light);
  width: 100%;
  height: 100%;
  background-size: 100%;
}

/* Navbar */
.navbar {
  background: var(--color-default);
}
.navbar .nav-item .nav-link {
  color: var(--color-light);
}
.navbar .nav-item .nav-link:hover {
  color: var(--color-first);
}
/* Jumbotron */
.jumbotron {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.jumbotron .rounded-circle {
  background-color: var(--color-light);
}
.jumbotron .display-4 {
  background: -webkit-linear-gradient(#ff00c8, #63014f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About */
#about {
  padding-top: 10rem;
  padding-bottom: 12rem;
}

/* Project */
#projects {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.card {
  color: var(--color-black);
  background: var(--color-light);
  border-radius: 0;
}
.card p {
  padding-top: 1rem;
}
.card .btn {
  background-color: var(--color-second);
  color: var(--color-body);
}
.card .btn:hover {
  background-color: var(--color-first);
}
.card h5 {
  text-align: center;
}


/* Gallery */
#gallery {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
#gallery .row > * {
  padding: 0;
}
.gallery-img {
  width: 100%;
}

/* Contact */
#contact {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
#contact .btn {
  background-color: var(--color-second);
  color: var(--color-light);
  border: none;
}
#contact .btn:hover {
  background-color: var(--color-first);
  color: var(--color-light);
}
#contact textarea {
  resize: none;
}
.alert {
  background-color: var(--color-light);
}

/* Footer */
.footer {
  background: -webkit-linear-gradient(#280030, #000000);
  color: var(--color-light);
}
.footer p a {
  color: var(--color-light);
  text-decoration: none;
}
